In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df =pd.read_csv("https://raw.githubusercontent.com/aniruddhachoudhury/Red-Wine-Quality/master/winequality-red.csv")
df.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [3]:
# Check the datatype of the Features and count of each features
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [4]:
# Check the statistical information of each features
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

### Insights
1. We do not have any Null values
2. Citric acid ranges from 0 to 1
3. Sulphur dioxide has the maximum value

In [5]:
#Check the number of unique values in Quality feature

df['quality'].unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [6]:
# Get the count of Different class of Quality Features
df['quality'].value_counts().sort_values(ascending= True)

3     10
8     18
4     53
7    199
6    638
5    681
Name: quality, dtype: int64

In [7]:
# We can check the duplicate rows in the dataset

df[df.duplicated()]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4,7.4,0.700,0.00,1.90,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
11,7.5,0.500,0.36,6.10,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
27,7.9,0.430,0.21,1.60,0.106,10.0,37.0,0.99660,3.17,0.91,9.5,5
40,7.3,0.450,0.36,5.90,0.074,12.0,87.0,0.99780,3.33,0.83,10.5,5
65,7.2,0.725,0.05,4.65,0.086,4.0,11.0,0.99620,3.41,0.39,10.9,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1563,7.2,0.695,0.13,2.00,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1564,7.2,0.695,0.13,2.00,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1567,7.2,0.695,0.13,2.00,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1581,6.2,0.560,0.09,1.70,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
1596,6.3,0.510,0.13,2.30,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6

In [8]:
# We can save the duplicate rows in the dataset 

df[df.duplicated()].to_csv('duplicate_Records.csv')

In [9]:
# Dropping the duplicate values from the dataset

df.drop_duplicates(inplace= True)

In [10]:
# Count of the dataset has got reduced to 1359 after removal of duplicates

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1359 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1359 non-null   float64
 1   volatile acidity      1359 non-null   float64
 2   citric acid           1359 non-null   float64
 3   residual sugar        1359 non-null   float64
 4   chlorides             1359 non-null   float64
 5   free sulfur dioxide   1359 non-null   float64
 6   total sulfur dioxide  1359 non-null   float64
 7   density               1359 non-null   float64
 8   pH                    1359 non-null   float64
 9   sulphates             1359 non-null   float64
 10  alcohol               1359 non-null   float64
 11  quality               1359 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 138.0 KB

In [11]:
# To verify if we still have any duplicate records in dataset post removal

df.duplicated().sum()

0

In [12]:
# Seggregating Independent and Dependent Features

y= df['quality']
X= df.drop("quality", axis = 1)

In [13]:
X.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8

In [14]:
# Loading Train and test split

from sklearn.model_selection import train_test_split, GridSearchCV

In [15]:
# Splitting the Training and Test data

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=10)

In [16]:
# Checking the shape of X_train

X_train.shape

(910, 11)

In [17]:
y_train.shape

(910,)

In [18]:
X_test.shape

(449, 11)

In [19]:
y_test.shape

(449,)

In [20]:
# Loading Random Forest Classifier

from sklearn.ensemble import RandomForestClassifier
rf_model= RandomForestClassifier()

In [21]:
rf_model.fit(X_train, y_train)

RandomForestClassifier()

In [22]:
rf_model.score(X_train,y_train)

1.0

In [23]:
# Predicting the values

y_pred = rf_model.predict(X_test)

In [24]:
# Checking the accuracy post model prediction

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6035634743875279

In [25]:
# # we are tuning three hyperparameters right now, we are passing the different values for both parameters

grid_param = {
    "n_estimators" : [90,100,115,130],
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,20,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'max_features' : ['auto','log2']
}

In [26]:
from sklearn.model_selection import GridSearchCV

grid_search=GridSearchCV(estimator=rf_model,param_grid=grid_param,cv=3,verbose=1, n_jobs= -1)

In [27]:
grid_search.fit(X_train, y_train)

Fitting 3 folds for each of 20736 candidates, totalling 62208 fits

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(2, 20),
                         'max_features': ['auto', 'log2'],
                         'min_samples_leaf': range(1, 10),
                         'min_samples_split': range(2, 10),
                         'n_estimators': [90, 100, 115, 130]},
             verbose=1)

In [28]:
# best parameters suggested by grid_search_model

grid_search.best_params_

{'criterion': 'gini',
 'max_depth': 17,
 'max_features': 'log2',
 'min_samples_leaf': 2,
 'min_samples_split': 3,
 'n_estimators': 100}

In [29]:
# Creating model using the best parameter provided by grid_search

rf_model1 = RandomForestClassifier(criterion = 'gini', max_depth = 17,max_features = 'log2', min_samples_leaf = 2 , min_samples_split = 3, n_estimators = 100)

In [30]:
# Training the model 
rf_model1.fit(X_train,y_train)

RandomForestClassifier(max_depth=17, max_features='log2', min_samples_leaf=2,
                       min_samples_split=3)

In [31]:
# Predicting the values
y_pred_rf1 = rf_model1.predict(X_test)

In [32]:
accuracy_score(y_test,y_pred_rf1)

0.6102449888641426

# Bagging Classifier

In [36]:
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier
from sklearn.datasets  import make_classification

# Over here we are using 50 Support Vector Classifier
model_bagging_svc = BaggingClassifier(base_estimator = SVC(), n_estimators = 50, random_state = 0)
model_bagging_svc.fit(X_train, y_train)

BaggingClassifier(base_estimator=SVC(), n_estimators=50, random_state=0)

In [37]:
y_bagging_predict = model_bagging_svc.predict(X_test)

In [38]:
# Checking the accuracy of Bagging_Classfier prediction

accuracy_score(y_test,y_bagging_predict)

0.4766146993318486